.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Reset body and html margins and paddings */
html, body {
  margin: 0;
  padding: 0; 
}

/* Ensure the main container spans the viewport */
#APP {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Exclude home page */
#APP.home {
  background: none;
}

/* Optional: Style for buttons */
button {
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #21a1f1;
}


/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #333333;
}
.dark-mode .nav-item {
  color: #ffffff;
}

.dark-mode button {
  background-color: #444444;
}

.dark-mode .content {
  background-color: #333333; /* Dark mode content background */
  color: #ffffff; /* Dark mode text color */
}

.dark-mode .nav-item:hover {
  background-color: #444444; /* Dark mode hover effect */
}

/* Dark Mode Styles */
.dark-mode .card {
  background-color: #333333; /* Dark background */
  color: #ffffff; /* Light text for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

.dark-mode .card-body {
  background-color: #444444; /* Slightly lighter dark background */
  color: #ffffff;
}
